{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon/eco_footprint/eco-footprint.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css_js/eco_footprint/assessment_complete.css' %}">
    <title>Assessment Complete</title>
</head>

<body>
    <div class="complete">
        <h1>Assessment Completed succesfully</h1>
        <p style="font-size:20px;">Redirecting to your ecological footprint scores</span></p>
        <p> If not redirected click <a href="/get_ai_responses/"> here</a></p>
        <p style="font-size:20px;"><span class="dots">Please, wait! Analysing...</span></p>
    </div>

    <script src="{% static 'css_js/eco_footprint/assessment_complete.js' %}"></script>
</body>
</html>
