{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css_js/eco_footprint/assessment.css' %}">
    <title>Eco-Footprint Assessment</title>
    
</head>
<body style="background-color:#615f5f;">
    

    <div class="energy">
    <h1 style="text-align:center;">Eco-Footprint Assessment</h1>
    <h2  style="text-align:center;"> Answer the following to assess your Ecological footprint</h2>
    <div style="text-align:center;">
        <button type="submit" class="submit-button" form="eco-form">Submit</button>
    </div>
    {% if categories %}
        <form method="post">
            {% csrf_token %}
            {% for category in categories %}
            <h2 style="text-align:center; font-size:25px;color:#ded5d5; font-weight:bold;" class="category" >{{ category.name }}</h2>
            {% for question in category.ecofootprintquestion_set.all %}

            <div>
                <label >{{ question.question_text }}</label><br>
                <div class="category">
                    {% if question.question_text == "How many hours per day do you typically leave lights on when not in use?" %}
                    <input type="number" name="response_{{ question.id }}" placeholder="Enter hours(0-12)" class="custom-textbox" min="0" max="12" required /><br>           
                    {% elif question.question_text == "Do you use energy-efficient appliances (e.g., LED light bulbs, ENERGY STAR-rated appliances)?" %}

                        <label class="custom-radio">
                            Yes
                            <input type="radio" name="response_{{ question.id }}" value="Yes" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            No
                            <input type="radio" name="response_{{ question.id }}" value="No" >
                            <span class="checkmark"></span>
                        </label><br>

                    {% elif question.question_text == "Do you use renewable energy sources (e.g., solar panels, wind turbines) to power your home?" %}
                        <label class="custom-radio">
                            Yes
                            <input type="radio" name="response_{{ question.id }}" value="Yes" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            No
                            <input type="radio" name="response_{{ question.id }}" value="No">
                            <span class="checkmark"></span>
                        </label><br>

                        {% elif question.question_text == "How often do you adjust your thermostat to conserve energy (e.g., lowering it in winter, raising it in summer)?" %}
                        <div class="custom-select">
                            <select name="response_{{ question.id }}">
                                <option value="Select an option" selected>Select an option</option>
                                <option value="Always">Always</option >
                                <option value="Often">Often</option>
                                <option value="Sometimes">Sometimes</option>
                                <option value="Rarely">Rarely</option>
                                <option value="Never">Never</option>
                                <option value="NoThermostat">I do not own a thermostat</option>
                            </select>
                        </div><br>
                    </div>

                    <div>
                        {% elif question.question_text == "How do you primarily commute to work or school (e.g., car, public transit, walking, biking)?" %}
                        <div class="custom-select">
                            <select name="response_{{ question.id }}" id="commute-select-{{ question.id }}">
                                <option value="Select an option" selected>Select an option</option>
                                <option value="Train">Train</option>
                                <option value="Bus">Bus</option>
                                <option value="Personal Car">Personal Car</option>
                                <option value="Biking">Biking</option>
                                <option value="Motocycle">Motorcycle</option>
                                <option value="Walking">Walking</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>    
                    {% elif question.question_text == "How often do you carpool or rideshare with others?" %}
                        <label class="custom-radio">
                            Frequently
                            <input type="radio" name="response_{{ question.id }}" value="Frequently" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Sometimes
                            <input type="radio" name="response_{{ question.id }}" value="Sometimes">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Rarely
                            <input type="radio" name="response_{{ question.id }}" value="Rarely">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Never
                            <input type="radio" name="response_{{ question.id }}" value="Never">
                            <span class="checkmark"></span>
                        </label>
                    {% elif question.question_text == "Do you own or use a fuel-efficient vehicle?" %}
                        <label class="custom-radio">
                            Yes
                            <input type="radio" name="response_{{ question.id }}" value="Yes" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            No
                            <input type="radio" name="response_{{ question.id }}" value="No">
                            <span class="checkmark"></span>
                        </label><br>
                    {% elif question.question_text == "How often do you travel long distances by plane?" %}
                        <label class="custom-radio">
                            Frequently
                            <input type="radio" name="response_{{ question.id }}" value="Frequently" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Sometimes
                            <input type="radio" name="response_{{ question.id }}" value="Sometimes">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Rarely
                            <input type="radio" name="response_{{ question.id }}" value="Rarely">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Never
                            <input type="radio" name="response_{{ question.id }}" value="Never">
                            <span class="checkmark"></span>
                        </label>
                </div>

                    <div class="category">
                    {% elif question.question_text == "Do you recycle paper, plastic, glass, and metal materials?" %}
                        
                        <label class="custom-radio">
                            Yes
                            <input type="radio" name="response_{{ question.id }}" value="Yes" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            No
                            <input type="radio" name="response_{{ question.id }}" value="No">
                            <span class="checkmark"></span>
                        </label><br>
                    {% elif question.question_text == "Do you compost food waste and yard debris?" %}  
                        <label class="custom-radio">
                            Yes
                            <input type="radio" name="response_{{ question.id }}" value="Yes" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            No
                            <input type="radio" name="response_{{ question.id }}" value="No">
                            <span class="checkmark"></span>
                        </label><br>
                    {% elif question.question_text == "How often do you use single-use plastics (e.g., plastic bags, disposable utensils, water bottles)?" %}
                        <label class="custom-radio">
                            Frequently
                            <input type="radio" name="response_{{ question.id }}" value="Frequently" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Sometimes
                            <input type="radio" name="response_{{ question.id }}" value="Sometimes">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Rarely
                            <input type="radio" name="response_{{ question.id }}" value="Rarely">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Never
                            <input type="radio" name="response_{{ question.id }}" value="Never">
                            <span class="checkmark"></span>
                        </label>
                    {% elif question.question_text == "Do you participate in local recycling programs or waste reduction initiatives?" %} 
                        <label class="custom-radio">
                            Yes
                            <input type="radio" name="response_{{ question.id }}" value="Yes" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            No
                            <input type="radio" name="response_{{ question.id }}" value="No">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Sometimes
                            <input type="radio" name="response_{{ question.id }}" value="Sometimes">
                            <span class="checkmark"></span>
                        </label><br>
                </div>

                <div class="category">
                    {% elif question.question_text == "How long do you typically shower each day?" %}
                    <div  class="custom-select">
                        <select name="response_{{ question.id }}">
                            <option value="Select an option" selected>Select an option</option>
                            <option value="5 Minutes">5 Minutes</option>
                            <option value="10 Minutes">10 Minutes</option>
                            <option value="15 Minutes">15 Minutes</option>
                            <option value="20 Minutes">20 Minutes</option>
                            <option value="30 Minutes">30 Minutes</option>
                            <option value="45 Minutes">45 Minutes</option>
                            <option value="50 Minutes">50 Minutes</option>
                            <option value="1 Hour">1 Hour</option>
                            <option value="2 Hours">2 Hours</option>
                            <option value="3 Hours">3 Hours</option>
                            <option value="4 Hours">4 Hours</option>
                            <option value="5 Hours">5 Hours</option>
                        </select>
                    </div>
                    {% elif question.question_text == "Do you use water-efficient fixtures (e.g., low-flow showerheads, dual-flush toilets)?" %}
                        <label class="custom-radio">
                            Yes
                            <input type="radio" name="response_{{ question.id }}" value="Yes" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            No
                            <input type="radio" name="response_{{ question.id }}" value="No">
                            <span class="checkmark"></span>
                        </label><br>
                    {% elif question.question_text == "Do you collect rainwater for outdoor use (e.g., watering plants, washing cars)?" %}
                        <label class="custom-radio">
                            Yes
                            <input type="radio" name="response_{{ question.id }}" value="Yes" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            No
                            <input type="radio" name="response_{{ question.id }}" value="No">
                            <span class="checkmark"></span>
                        </label><br>
                    {% elif question.question_text == "How often do you run full loads of laundry and dishes to conserve water?" %}
                        <label class="custom-radio">
                            Frequently
                            <input type="radio" name="response_{{ question.id }}" value="Frequently" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Sometimes
                            <input type="radio" name="response_{{ question.id }}" value="Sometimes">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Rarely
                            <input type="radio" name="response_{{ question.id }}" value="Rarely">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Never
                            <input type="radio" name="response_{{ question.id }}" value="Never">
                            <span class="checkmark"></span>
                        </label>
                </div>

                <div class="category">
                    {% elif question.question_text == "How often do you consume meat and dairy products?" %}
                    <div  class="custom-select">
                        <select name="response_{{ question.id }}">
                            <option value="Select an option" selected>Select an option</option>
                            <option value="Always">Always</option>
                            <option value="Often">Often</option>
                            <option value="Sometimes">Sometimes</option>
                            <option value="Rarely">Rarely</option>
                            <option value="Never">Never</option>
                        </select>
                    </div>
                    {% elif question.question_text == "Do you incorporate plant-based meals into your diet?" %}
                        <label class="custom-radio">
                            Yes
                            <input type="radio" name="response_{{ question.id }}" value="Yes" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            No
                            <input type="radio" name="response_{{ question.id }}" value="No">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Sometimes
                            <input type="radio" name="response_{{ question.id }}" value="Sometimes">
                            <span class="checkmark"></span>
                        </label><br>

                    {% elif question.question_text == "How often do you eat locally grown and seasonal foods?" %}
                        <label class="custom-radio">
                            Frequently
                            <input type="radio" name="response_{{ question.id }}" value="Frequently" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Sometimes
                            <input type="radio" name="response_{{ question.id }}" value="Sometimes">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Rarely
                            <input type="radio" name="response_{{ question.id }}" value="Rarely">
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            Never
                            <input type="radio" name="response_{{ question.id }}" value="Never">
                            <span class="checkmark"></span>
                        </label>
                    {% elif question.question_text == "Do you minimize food waste by planning meals, using leftovers, and avoiding over-purchasing groceries?" %}
                        <label class="custom-radio">
                            Yes
                            <input type="radio" name="response_{{ question.id }}" value="Yes" required>
                            <span class="checkmark"></span>
                        </label>
                        <label class="custom-radio">
                            No
                            <input type="radio" name="response_{{ question.id }}" value="No">
                            <span class="checkmark"></span>
                        </label><br>
                    {% endif %}
                </div>

            </div>
            {% endfor %}
            {% endfor %}
                <button type="submit" class="submit-button">Submit</button>
        </form>
    {% else %}
        <p>No categories found.</p>
    {% endif %}
    </div>

    <script src="{% static 'css_js/eco_footprint/assessment.js' %}"></script>
</body>
</html>
