{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Already submitted today</title>
    <link rel="icon" href="{% static 'favicon/eco_footprint/eco-footprint.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css_js/eco_footprint/wait_24.css' %}">
</head>
<body>
    <div class="link_container">
        <div class="card">
            <p class="box-shadow"><a href="/menu_f/">Menu</a></p>
        </div>
    </div>
    <div class="container">
        {% if recent_submission %}
            <h1>Sorry {{ first_name }}, you have already submitted your eco-footprint assessment today. Review you results <a href="/visualize_ai_results/">here</a></h1>
            <h2>You will be able to submit the day after today</h2>
            {% if last_submission_time %}
                <h2><p>Your last submission was made at {{ last_submission_time|date:"F j, Y, g:i a" }}</p></h2>

                {% if eco_footprint_result %}
                {{ eco_footprint_result }}

                {% endif %}
            {% endif %}
        {% else %}
            <h1>You can now assess your eco-footprint.</h1>
        {% endif %}
    </div>
</body>
</html>
