{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css_js/contact/contact.css' %}">
    <title>Contact Us</title>

</head>
<body class="dark">
    <div class="dropdown">
        <select id="menu">
            <option value="" selected hidden>Menu</option>
            <option value ="back"> Back </option>
            <option value="about">About</option>
        </select>
    </div>

    <div class="theme-switcher">
        <select id="theme">
            <option value="dark" selected>Dark Theme</option>
            <option value="light">Light Theme</option>
        </select>
    </div>

    <div class="container glow">
        <div class = "ecopiboe" >
            <h1>EcoPiBoE</h1>
        </diV>
        <button id="contactButton" style = "font-size: 22px;">Contact Us</button>
    </div>
    <script src="{% static 'css_js/contact/contact.js' %}"></script>
</body>
</html>
