{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon/land_page/land_page_2.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css_js/footer/faqs.css' %}">
    <title>FAQ - EcoPiBoE</title>
    
</head>
<body>
    <button class="menu-toggle">Menu</button>
    <div class="menu-dropdown" id="menuDropdown">
        <a href="javascript:history.back()">Back</a>
        <a href="/">Home</a>
    </div>
    <button class="theme-toggle" onclick="toggleTheme()">Change Theme</button>
    <header>
        <h1>EcoPiBoE</h1>
    </header>
    <main>
        <div class="container">
            <h2 style="text-align:center;">Frequently Asked Questions (FAQs)</h2>
            <h3 class="faq-question">What Is EcoPiBoE?</h3>
            <div class="faq-answer">
                <p>
                    EcoPiBoE is a multifunctional platform that combines an eco-footprint analyzer, a digital piano for fun, a book recommender, and a smart email service. It utilizes advanced AI technologies, including Google's Gemini Large Language Model (LLM), to provide users with insightful and engaging experiences.
                </p>
            </div>
            <h3 class="faq-question">What is Gemini A?</h3>
            <div class="faq-answer">
                <p>
                    Gemini AI is a powerful AI model developed by Google. It is designed to understand and generate human-like text, making it ideal for various applications such as content creation, recommendation systems, and interactive chatbots. In EcoPiBoE, Gemini AI powers the smart email service and book recommender and basically all services in the webste.
                </p>
            </div>
            <h3 class="faq-question">Does Gemini require a subscription?</h3>
            <div class="faq-answer">
                <p>
                    Access to certain features of Gemini AI is free for basic and standard use but may require a subscription, depending on the implementation and usage. Some basic functionalities might be available for free, but advanced features and extended usage typically require a paid subscription to support the maintenance and further development of the service. Check out google to get the latest information.
                </p>
            </div>
        </div>
    </main>
    <footer>
        <p>EcoPiBoE &copy; 2024</p>
    </footer>
    <script src="{% static 'css_js/footer/faqs.js' %}"></script>
</body>
</html>

{% endblock %}
