{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up Successful</title>
    <link rel="stylesheet" href="{% static 'css_js/signup/signup_success.css' %}">
</head>
<body>
    <div class="content">
        <h1>You have signed up Successfully!</h1>
        <p><span class="ellipsis"></span></p>
        <p>Redirect to login page. If not redirected click <a href="/login/">here</a></p>
    </div>

    <script src="{% static 'css_js/signup/signup_success.js' %}"></script>
</body>
</html>
