/include
/lib
/Scripts
/pyvenv.cfg

**/*.pyc
**/__pycache__/
__pycache__


debug.log
db.sqlite3
.env
_auth
user_tokens
context
piano_context
*uploads
uploads
/uploads/
/piano_context/
/context/

ecopiboe_V_env/

ecopiboe.code-workspace
conversation_history.pkl