{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Incorrect address</title>
<link rel="stylesheet" href="{% static 'css_js/404/404.css' %}">
<link rel="icon" href="{% static 'favicon/land_page/land_page_2.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="link_container">
        <div class="card">
          <p class="box-shadow"><a href="/home">HOME</a></p>
        </div>
      </div>

<div class="container">
    <h1>Oooops!</h1>
    <h2>Page not found!</h2>
    <p><h3>😞😞😞</h3></p>
</div>
</body>
</html>
