{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Error Ocured</title>
<link rel="stylesheet" href="{% static 'css_js/500/500.css' %}">
<link rel="icon" href="{% static 'favicon/land_page/land_page_2.ico' %}" type="image/x-icon">
</head>
<body>
    <div class="link_container">
        <div class="card">
          <p class="box-shadow"><a href="/home">HOME</a></p>
        </div>
      </div>
<div class="container">
    <h1>Soory an error occured while trying to process your request!</h1>
    <h2>Check your internet connection and try again!</h2>
</div>
</body>
</html>
