{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css_js/password_reset/reset_link_sent.css' %}">
    <title>Reset Link Sent</title>

</head>
<body>
    <div class="content">
        <div>
            <b class="ecopiboe">EcoPiBoe</b>
        </div>
        <h1>Check your email for insructions to reset your password.</h1>
        <h1>Thank You!</h1>
        <p style="font-size: 20px;"><a href="/login/">Login page</a> </p>
        <p style="font-size: 20px;"><a href="/home/">Login Signup</a></p>
    </div>
</body>
</html>
