body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
    font-size: 18px;
    background-color:  #4a4a49;
}

.ellipsis {
    display: block;
}
.ellipsis::after {
    content: "Being redirected.";
    animation: ellipsis 1s infinite;
}
@keyframes ellipsis {
    0%, 25% {
        content: "Being redirected to the login page.";
    }
    50%, 75% {
        content: "Being redirected to the login page..";
    }
    100% {
        content: "Being redirected to the login page.";
    }
    
}
.content a {
    color: #007bff;
    text-decoration: underline;
}