            
    body {
        font-family: Arial, sans-serif;
        background-color: #050505;
        margin: 0;
        padding: 0;
        overflow-y: auto;
    }
    
    .main {
        max-width: 60%;
        margin: 10px auto;
        background-color: #383535;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 100px rgba(0, 100, 0, 0.4);
    }
    
    .main:hover {
        box-shadow: 0 0 100px rgba(0, 0, 150, 0.4);
        transform: scale(1.01);
    }
    
    h1 {
        font-size: 35px;
        color: #05ed8c;
        text-align: center;
        font-weight: bold;
        text-shadow: 0 0 100px rgba(0, 10, 100, 0.4);
    }
    
    .video-container {
        max-width: 96%;
        margin: 8px auto;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        height: 0;
        padding-top: 20%;
    }
    
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .video-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(0, 0, 0, 0.5);
        pointer-events: none;
    
    }

    .video-wrapper .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        pointer-events: none;
    }

    video::-webkit-media-controls {
        display: none !important;
    }

    video::-webkit-media-controls-enclosure {
        display: none !important;
    }


    .video-wrapper video {
        pointer-events: none;
    }
    
    .additional-content {
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 20px;
    }
    
    .b_content {
        max-width: 60%;
        margin: 10px auto;
        background-color: #383535;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 100px rgba(0, 100, 0, 0.4);
    }
    
    .b_content:hover {
        box-shadow: 0 0 100px rgba(0, 0, 150, 0.4);
        transform: scale(1.01);
    }
    
    .hidden-image {
        position: fixed;
        bottom: 20px;
        right: -200px;
        width: 150px;
        transition: right 1.5s ease-in-out;
        top: 27%;
        opacity: 0;
    }
    
    .show-image {
        right: 20px;
        opacity: 1;
    }
    
    .hidden-text {
        position: fixed;
        bottom: 300px;
        right: -200px;
        width: 150px;
        opacity: 0;
        color: #3f157a;
        transition: right 1.5s ease-in-out;
    }
    
    .show-text {
        right: 10px;
        opacity: 1;
        color: #7644bd;
        bottom: 460px;
    }
    
    .hidden-text_1 {
        position: fixed;
        bottom: 300px;
        left: -200px;
        width: 150px;
        opacity: 0;
        color: #3f157a;
        transition: left 1.5s ease-in-out;
    }
    
    .show-text_1 {
        left: 20px;
        opacity: 1;
        color: #caa7fa;
        top: 20px;
        font-size: 20px;
    }
    
    .checkbox-container {
        text-align: center;
        margin-top: 20px;
    }
    
    .checkbox-container input[type="checkbox"] {
        transform: scale(1.5);
        cursor: pointer;
    }
    
    #proceed-button {
        display: none;
    }
    
    #chat-box {
        position: fixed;
        bottom: 30px;
        right: 20px;
        background-color: #333;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        display: none;
        width: 300px;
        height: 300px;
    }
    
    #chat-container {
        background-color: #333;
        border: 5px solid #6d07b5;
        border-radius: 15px;
        padding: 20px;
        margin-bottom: 20px;
        width: 240px;
        height: 60px;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: thin;
    }
    
    #chat-history .message {
        color: #fff;
        margin-bottom: 10px;
    }
    
    form {
        margin-top: 20px;
    }
    
    label {
        font-weight: bold;
        color: #b0b4b5;
    }
    
    input[type="text"] {
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        width: 280px;
    }
    
    button[type="submit"] {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width:280px;
    }
    
    button[type="submit"]:hover {
        background-color: #0056b3;
    }
    
    .message {
        max-width: 70%;
        margin-bottom: 10px;
        clear: both;
        overflow-wrap: break-word;
    }
    
    .user-message {
        background-color: #007bff;
        color: #fff;
        float: right;
        border-radius: 10px 10px 0 10px;
        padding: 10px;
    }
    
    .bot-message {
        background-color: #949191;
        color: #000;
        float: left;
        border-radius: 10px 10px 10px 0;
        padding: 10px;
    }

    
    .message-content {
        padding: 10px;
    }

    .ecopiboe {
        display: none;
        font-weight: bold;
        font-size: 30px;
        color: #05ed8c;
        text-align: center;
        text-shadow: 0 0 100px rgba(0, 10, 100, 0.4);
    }

    @media (max-width: 600px) {
        
        .main, .video-container {
            display: none;
        }
    
        .b_content {
            width: 100%;
            margin: 0;
        }
    
        .video-wrapper {
            width: 100%;
            height: 100%;
            margin: 0;
            justify-content: center
            
        }
    
        .video-container {
            position: relative;
            width: 100%;
            padding-top: 56.25%;
            margin: 0;
            
        }
    
        .video-container video {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
    
        .additional-content, .checkbox-container {
            margin: 0;
            width: 100%;
            margin: 0 auto;
        }
    
        #chat-box {
            width: calc(100% - 20px);
            right: 10px;
            left: 10px;
        }
    
        #chat-container {
            width: calc(100% - 40px);
            height: calc(40% - 40px);
        }
    
        input[type="text"] {
            width: calc(100% - 20px);
        }
    
        .hidden-text, .hidden-text_1, .hidden-image  {
            display: none;
        }
        .ecopiboe {
            display: block;
            font-weight: bold;
            font-size: 30px;
            color: #05ed8c;
            text-align: center;
            text-shadow: 0 0 100px rgba(0, 10, 100, 0.4);
            position: relative;
        }
  
    }
    
    
