{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}About Felix{% endblock %}</title>
    <link rel="icon" href="{% static 'favicon/felix.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css_js/felix_about/felix_about.css' %}">
</head>
<body>
<div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
        <a href="/home/">Go Back</a>
    </div>
</div>
    
<div class="container">
    <h1>Felix Mokaya Amwoma</h1>
    <b><p>Read a little about me.</p></b>

    {% for line in lines %}
    <p class="text-color-txt">{{ line }}</p>
    {% endfor %}

    <b><p style="font-size:25px; font-weight: bold;">Quotes</p></b>

    {% for line_1 in lines_1 %}
    <p class="text-color-txt">{{ line_1 }}</p>
    {% endfor %}

    <p><a style="font-weight: bold;" href="/home">Home</a></p>
    
</div>

<div class="links">
    <h1>Hey check out my social links below</h1>
     
    <div class="link-card">
        <a href="https://www.youtube.com/channel/UCAH0-IdiQl_QW-xCXtCvuUw" class="card-link" target="_blank">
            <div class="card-content">
                <img src="{% static 'logos/youtube.png' %}" alt="YouTube Logo" class="card-logo">
                <span class="card-text">YouTube</span>
            </div>
        </a>
    </div>

    <div class="link-card">
        <a href="https://twitter.com/felixmokayabtz" class="card-link" target="_blank">
            <div class="card-content">
                <img src="{% static 'logos/x.jpg' %}" alt="X(twitter) Logo" class="card-logo">
                <span class="card-text">X(Twitter)</span>
            </div>
        </a>
    </div>
    
    <div class="link-card">
        <a href="https://www.instagram.com/felixmokayabeatz/" class="card-link" target="_blank">
            <div class="card-content">
                <img src="{% static 'logos/instagram.jpg' %}" alt="Instagram Logo" class="card-logo">
                <span class="card-text">Instagram</span>
            </div>
        </a>
    </div>    

    <div class="link-card">
        <a href="https://facebook.com/felixmokayabeats/" class="card-link" target="_blank">
            <div class="card-content">
                <img src="{% static 'logos/facebook.jpeg' %}" alt="Facebook Logo" class="card-logo">
                <span class="card-text">Facebook</span>
            </div>
        </a>
    </div>
    
    <div class="link-card">
        <a href="https://soundcloud.com/felixmokayabeatz" class="card-link" target="_blank">
            <div class="card-content">
                <img src="{% static 'logos/soundcloud.png' %}" alt="Sound Cloud Logo" class="card-logo">
                <span class="card-text">Sound Cloud</span>
            </div>
        </a>
    </div>
    
    <div class="link-card">
        <a href="https://www.tiktok.com/@felixmokayabeatz" class="card-link" target="_blank">
            <div class="card-content">
                <img src="{% static 'logos/tiktok.png' %}" alt="TikTok Logo" class="card-logo">
                <span class="card-text">TikTok</span>
            </div>
        </a>
    </div>
    
    <div class="link-card">
        <a href="https://felixmokayabeatz.wordpress.com/" class="card-link" target="_blank">
            <div class="card-content">
                <img src="{% static 'logos/wordpress.png' %}" alt="Word Press Logo" class="card-logo">
                <span class="card-text">Word Press</span>
            </div>
        </a>
    </div>
    
    <div class="link-card">
        <a href="https://www.beatstars.com/felixmokaya" class="card-link" target="_blank">
            <div class="card-content">
                <img src="{% static 'logos/beatstars.jpg' %}" alt="BeatStars Logo" class="card-logo">
                <span class="card-text">BeatStars</span>
            </div>
        </a>
    </div>
    
    <div class="link-card">
        <a href="https://www.linkedin.com/in/felix-mokaya-6527b3275" class="card-link" target="_blank">
            <div class="card-content">
                <img src="{% static 'logos/linkedln.png' %}" alt="LinkedIn Logo" class="card-logo">
                <span class="card-text">LinkedIn</span>
            </div>
        </a>
    </div>

    <div class="link-card">
        <a href="https://whatsapp.com/channel/0029VaZtftM0gcfEVjvtzd0E" class="card-link" target="_blank">
            <div class="card-content">
                <img src="{% static 'logos/channels.png' %}" alt="WhatsApp Logo" class="card-logo">
                <span class="card-text">WhatsApp</span>
            </div>
        </a>
    </div>
    
    <div class="link-card">
        <a href="https://wa.me/254792521572" class="card-link" target="_blank">
            <div class="card-content">
                <img src="{% static 'logos/whatsapp.png' %}" alt="WhatsApp Logo" class="card-logo">
                <span class="card-text">WhatsApp</span>
            </div>
        </a>
    </div>

    <div class="link-card">
        <a href="https://t.me/felixmokayabeatzz" class="card-link" target="_blank">
            <div class="card-content">
                <img src="{% static 'logos/telegram.png' %}" alt="Telegram Logo" class="card-logo">
                <span class="card-text">Telegram</span>
            </div>
        </a>
    </div>

    <p><a href="/home">Back</a></p>
    
</div>

<div class="image-container">
{% for image in images %}
    <img src="{% static image %}" alt="Image">
{% endfor %}
</div>

<script src="{% static 'css_js/felix_about/felix_about.js' %}"></script>
</body>
</html>
