{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css_js/login/login.css' %}">
</head>
<body>
    <div class="container">
        <eco>EcoPiBoe</eco>
        <h2>Login Page</h2>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <p class="blink">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}

        <form action="/login/" method="post">
            {% csrf_token %}
            <label for="username_or_email">Username</label>
            <input type="text" id="username_or_email" name="username_or_email" placeholder="Enter Your Username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter Your Password" required>
            <button type="submit">Login</button>
        </form>

        <br>

        {% if social_app %}
        <a href="{% provider_login_url 'google' %}" class="btn-google">
            <img src="{% static 'google-log_o/google-l_0_g_o.jpg' %}" alt="Google logo" class="google-logo">
            Login with Google
        </a>
    {% endif %}
    

        <p>Forgot your password? <a href="/forgot_password/">Reset Password</a></p>
        <p>Don't have an account? <a href="/signup/">Sign up</a></p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</body>
</html>
