{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css_js/login/login_success.css' %}">
    <title>Login Successful</title>
    
</head>
<body>
    <div class="content">
        <div>
            <b class="ecopiboe">EcoPiBoe</b>
        </div>
        <h1>Login Successful!</h1>
        <p><span class="ellipsis"></span></p>
        <p style="font-size:24px;">If not redirected click <a href="/menu_f/">here</a></p>
    </div>

    <script src="{% static 'css_js/login/login_success.js' %}"></script>
</body>
</html>
