altgraph
amqp
annotated-types
ansicon
arrow
asgiref
backports.tarfile
billiard
blessed
cachetools
celery
certifi
cffi
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
contourpy
cron-descriptor
cryptography
cycler
Django
django-allauth
django-celery-beat
django-js-asset
django-picklefield
django-timezone-field
django-tinymce
docutils
et-xmlfile
excel
fonttools
git-filter-repo
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-speech
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
importlib_metadata
jaraco.classes
jaraco.context
jaraco.functools
jdcal
jinxed
keyring
kiwisolver
kombu
markdown-it-py
matplot
matplotlib
mdurl
more-itertools
MouseInfo
mysqlclient
nh3
numpy
oauthlib
opencv-python
openpyxl
packaging
pandas
pefile
pillow
pkginfo
prompt_toolkit
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
pydantic
pydantic_core
PyGetWindow
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pyloco
PyMsgBox
PyMuPDF
PyMuPDFb
pyparsing
pyperclip
PyQt5-Qt5
PyQt5_sip
PyRect
PyScreeze
python-crontab
python-dateutil
python-decouple
python-dotenv
pytweening
pytz
pywin32
pywin32-ctypes
readme_renderer
redis
requests
requests-oauthlib
requests-toolbelt
rfc3986
rich
rsa
setuptools
SimpleWebSocketServer
six
SpeechRecognition
sqlparse
tqdm
twine
types-python-dateutil
typing
typing_extensions
tzdata
uritemplate
urllib3
ushlex
vine
wcwidth
websocket-client
whitenoise
XlsxWriter
xlwt
zipp
