{% extends "users/logout.html" %}

{% load custom_tags static %}

{% load custom_tags %}

{% block content %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css_js/land_page/land_page.css' %}">

</head>
<body>
    <div class="main">
        <h1>EcoPiBoe</h1>
        <div class="video-container">
            <video id="myVideo" controls disablePictureInPicture loop autoplay muted controlsList="nodownload">
                <source src="{% static 'land_page_video/land_page.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="video-wrapper">
        <video disablePictureInPicture loop autoplay muted controlsList="nodownload">
            <source src="{% static 'land_page_video/land_page_1.mp4' %}" type="video/mp4">
            Your browser does not support the video.
        </video>
        <div class="overlay"></div>
    </div>

    <div class="b_content additional-content">
        <div class="ecopiboe">EcoPiBoe</div>
        <h4>
            {{ content }}
        </h4>

        <div style="text-align: center; color: #caa7fa; font-weight: bold; font-size: 25px;">
            <b id="proceed-button"><a href="/home/" style="color: #5b67f0;">Proceed</a></b>
        </div>

        <br>
        
        <div style="font-weight: bold; font-size: 20px; color: white;" class="checkbox-container">
            <input type="checkbox" id="agree-checkbox">
            <label for="agree-checkbox">I agree to the <a href = '/ecopiboe_terms_/' style="color: #5b67f0;">Policy terms and conditions.</a></label>
        </div>
    </div>

    <div class="hidden-text" id="hiddenElement">
        <h2>Powered By</h2>
    </div>

    <div class="hidden-text_1" id="hiddentxt">
        <h2>Check below the page to proceed</h2>
    </div>

    <img src="{% static 'gemni/Google Ai Gemini.png' %}" class="hidden-image" id="hiddenImage">

    <div style="font-size:15px; text-align:center;" id="chat-box">
        <b>Test Connection. Ask me anything.(5 Prompts Max)</b>
        <div id="chat-container">
            <div id="chat-history"></div>
        </div>
        <form id="question-form" action="{% url 'ask_question' %}" method="post">
            <div><label for="text">Type below</label></div>
            <div><input type="text" name="text" id="text" required autocomplete="off"></div>
            <div><button type="submit">Ask</button></div>
        </form>
    </div>

{% include 'footer/footer.html' %}
    
<script src="{% static 'css_js/land_page/land_page.js' %}"></script>

{% endblock %}

</body>
</html>