{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}EcoPiBoe - AI Powered{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css_js/logout/logout.css' %}">
    <link rel="icon" href="{% static 'favicon/land_page/land_page_2.ico' %}" type="image/x-icon">

</head>
<body>
    <div class="dropdown">
        <button>Menu</button>
        <div class="dropdown-content">
            <a href="/home/" class="disabled">To proceed, agree to the terms, policy, and conditions below.</a>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <script src="{% static 'css_js/logout/logout.js' %}"></script>
</body>
</html>
