{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css_js/profile_edit/profile_edit.css' %}">
    <title>Profile changed Successful</title>

</head>
<body>
    <div class="content">
        <h1>Profile changed Successful!</h1>
        <p><span class="ellipsis"></span></p>
        <p>Redirect to Main Menu. If not redirected, click <a href="/menu_f/">here</a></p>
    </div>
    <script src="{% static 'css_js/profile_edit/profile_edit.js' %}"></script>
</body>
</html>
