{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css_js/user_settings/user_settings.css' %}">
    <title>User Settings</title>
   
</head>
<body class="dark-mode">
    <button class="menu-toggle">Menu</button>
    <div class="menu-dropdown" id="menuDropdown">
        <a href="javascript:history.back()">Back</a>
        <a href="/">Home</a>
    </div>

    <button class="theme-toggle" onclick="toggleTheme()">Change Theme</button>
    <div class="container">
        <h1>EcoPiBoE</h1>
        <h2>User Settings</h2>
        
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <b><div style= "color:red; font-weight:bold; font-size:20px;" class="alert alert-{{ message.tags }}"></b>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>Profile Information</legend>
                <div class="form-group">
                    <label for="id_username">Username(Cannot be changed):</label>
                    {{ user_form.username }}
                </div>
                <div class="form-group">
                    <label for="id_email">Email(Cannot be changed):</label>
                    {{ user_form.email }}
                </div>
                <div class="form-group">
                    <label for="id_first_name">First Name:</label>
                    {{ user_form.first_name }}
                </div>
                <div class="form-group">
                    <label for="id_last_name">Last Name:</label>
                    {{ user_form.last_name }}
                </div>

            </fieldset>
            <fieldset>
                <legend>Change Password</legend>
                <p style="font-size: 16px;">To change your password, please fill in the fields below with your current password, your new password, and confirm your new password.</p>
                
                <p style="font-size: 16px;">Use uniquue password</p>
                <p style="font-size: 16px;">Your name or part of your name will not be accepted as password, previously used password, too short and weak passwords.</p>
                <div class="form-group">
                    <label for="id_old_password">Old Password:</label>
                    {{ password_form.old_password }}
                </div>
                <div class="form-group">
                    <label for="id_new_password1">New Password:</label>
                    {{ password_form.new_password1 }}
                </div>
                <div class="form-group">
                    <label for="id_new_password2">Confirm New Password:</label>
                    {{ password_form.new_password2 }}
                </div>
            </fieldset>
            <button type="submit">Save changes</button>
        </form>
    </div>
    <script src="{% static 'css_js/user_settings/user_settings.js' %}"></script>
</body>
</html>
