{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css_js/piano/piano.css' %}">
    <title>Virtual Piano</title>
    <link rel="icon" href="{% static 'favicon/piano.ico' %}" type="image/x-icon">
    
</head>
<body>
    <div class="piano-container">
        <div class="piano">
            <div data-note="C4" class="key white"><span>C4</span></div>
            <div data-note="C#4" class="key black"><span>C#4</span></div>
            <div data-note="D4" class="key white"><span>D4</span></div>
            <div data-note="D#4" class="key black"><span>D#4</span></div>
            <div data-note="E4" class="key white"><span>E4</span></div>
            <div data-note="F4" class="key white"><span>F4</span></div>
            <div data-note="F#4" class="key black"><span>F#4</span></div>
            <div data-note="G4" class="key white"><span>G4</span></div>
            <div data-note="G#4" class="key black"><span>G#4</span></div>
            <div data-note="A4" class="key white"><span>A4</span></div>
            <div data-note="A#4" class="key black"><span>A#4</span></div>
            <div data-note="B4" class="key white"><span>B4</span></div>
            <div data-note="C5" class="key white"><span>C5</span></div>
            <div data-note="C#5" class="key black"><span>C#5</span></div>
            <div data-note="D5" class="key white"><span>D5</span></div>
            <div data-note="D#5" class="key black"><span>D#5</span></div>
            <div data-note="E5" class="key white"><span>E5</span></div>
            <div data-note="F5" class="key white"><span>F5</span></div>
            <div data-note="F#5" class="key black"><span>F#5</span></div>
            <div data-note="G5" class="key white"><span>G5</span></div>
            <div data-note="G#5" class="key black"><span>G#5</span></div>
            <div data-note="A5" class="key white"><span>A5</span></div>
            <div data-note="A#5" class="key black"><span>A#5</span></div>
            <div data-note="B5" class="key white"><span>B5</span></div>
            <div data-note="C6" class="key white"><span>C6</span></div>
            <div data-note="C#6" class="key black"><span>C#6</span></div>
            <div data-note="D6" class="key white"><span>D6</span></div>
            <div data-note="D#6" class="key black"><span>D#6</span></div>
            <div data-note="E6" class="key white"><span>E6</span></div>
            <div data-note="F6" class="key white"><span>F6</span></div>
            <div data-note="F#6" class="key black"><span>F#6</span></div>
            <div data-note="G6" class="key white"><span>G6</span></div>
            <div data-note="G#6" class="key black"><span>G#6</span></div>
            <div data-note="A6" class="key white"><span>A6</span></div>
            <div data-note="A#6" class="key black"><span>A#6</span></div>
            <div data-note="B6" class="key white"><span>B6</span></div>
        </div>

        <a href="#" class="octave-icons" id="decrease-octave">
            <div class="octave-icon">
                <img src="{% static 'oct/Down.svg' %}" alt="Decrease Octave">
            </div>
        </a>
        <a href="#" class="octave-icons-1" id="increase-octave">
            <div class="octave-icon-1">
                <img src="{% static 'oct/Up.svg' %}" alt="Increase Octave">
            </div>
        </a>

    </div>
    <audio id="C4" src="{% static 'piano/C(B#)Lower.mp3' %}"></audio>
    <audio id="C#4" src="{% static 'piano/C# sharp(Db flat)Lower.mp3' %}"></audio>
    <audio id="D4" src="{% static 'piano/DLower.mp3' %}"></audio>
    <audio id="D#4" src="{% static 'piano/D#(sharp) E(Fb flat)Lower.mp3' %}"></audio>
    <audio id="E4" src="{% static 'piano/E (Fb flat)Lower.mp3' %}"></audio>
    <audio id="F4" src="{% static 'piano/F(E# sharp)Lower.mp3' %}"></audio>
    <audio id="F#4" src="{% static 'piano/F# (Gb flat)Lower.mp3' %}"></audio>
    <audio id="G4" src="{% static 'piano/GLower.mp3' %}"></audio>
    <audio id="G#4" src="{% static 'piano/G#(sharp) Ab(flat)Lower.mp3' %}"></audio>
    <audio id="A4" src="{% static 'piano/ALower.mp3' %}"></audio>
    <audio id="A#4" src="{% static 'piano/A#(sharp) (Bb flat)Lower.mp3' %}"></audio>
    <audio id="B4" src="{% static 'piano/B(Cb flat)Lower.mp3' %}"></audio>
    <audio id="C5" src="{% static 'piano/C(B#).mp3' %}"></audio>
    <audio id="C#5" src="{% static 'piano/C# sharp(Db flat).mp3' %}"></audio>
    <audio id="D5" src="{% static 'piano/D.mp3' %}"></audio>
    <audio id="D#5" src="{% static 'piano/D#(sharp) E(Fb flat).mp3' %}"></audio>
    <audio id="E5" src="{% static 'piano/E (Fb flat).mp3' %}"></audio>
    <audio id="F5" src="{% static 'piano/F(E# sharp).mp3' %}"></audio>
    <audio id="F#5" src="{% static 'piano/F# (Gb flat).mp3' %}"></audio>
    <audio id="G5" src="{% static 'piano/G.mp3' %}"></audio>
    <audio id="G#5" src="{% static 'piano/G#(sharp) Ab(flat).mp3' %}"></audio>
    <audio id="A5" src="{% static 'piano/A.mp3' %}"></audio>
    <audio id="A#5" src="{% static 'piano/A#(sharp) (Bb flat).mp3' %}"></audio>
    <audio id="B5" src="{% static 'piano/B(Cb flat).mp3' %}"></audio>
    <audio id="C6" src="{% static 'piano/C(B#)Upper.mp3' %}"></audio>
    <audio id="C#6" src="{% static 'piano/C# sharp(Db flat)Upper.mp3' %}"></audio>
    <audio id="D6" src="{% static 'piano/DUpper.mp3' %}"></audio>
    <audio id="D#6" src="{% static 'piano/D#(sharp) E(Fb flat)Upper.mp3' %}"></audio>
    <audio id="E6" src="{% static 'piano/E (Fb flat)Upper.mp3' %}"></audio>
    <audio id="F6" src="{% static 'piano/F(E# sharp)Upper.mp3' %}"></audio>
    <audio id="F#6" src="{% static 'piano/F# (Gb flat)Upper.mp3' %}"></audio>
    <audio id="G6" src="{% static 'piano/GUpper.mp3' %}"></audio>
    <audio id="G#6" src="{% static 'piano/G#(sharp) Ab(flat)Upper.mp3' %}"></audio>
    <audio id="A6" src="{% static 'piano/AUpper.mp3' %}"></audio>
    <audio id="A#6" src="{% static 'piano/A#(sharp) (Bb flat)Upper.mp3' %}"></audio>
    <audio id="B6" src="{% static 'piano/B(Cb flat)Upper.mp3' %}"></audio>

    <button id="recordButton" class="record-button">Record</button>

    <div class="about-section">
        <h3>The main purpose of this virtual piano is to provide you with fundamental knowledge of music theory - roughly 1%.<br>
        The AI will assist you along this brief journey.<br>
        Click the notes, connect an external musical keyboard/midi keyboard or use QWERTY keys on your typing keyboard to control this virtual piano.<br>Use the + and - icons on your left side of the screen to change octaves, or the shortcut keys 'z' and 'x' to do the same.</h3>
    </div>

    <div style="font-weight: bold; font-size: 20px; color: white;" class="checkbox-container">
        <input type="checkbox" id="agree-checkbox" checked>
        <label for="agree-checkbox" id="checkbox-label">AI Enabled<br>Uncheck to Disable</label>
    </div>

    <div style="text-align: center; position: fixed; top: 0; right: 10px; z-index: 1000;">
        <h2>
            <a href="/menu_f/" style="color: #5b67f0; font-weight: bold; font-size: 25px;">Main Menu</a>
        </h2>
    </div>

    <div style="font-weight: bold; text-align:center; display: block;" id="chat-box">
        <div id="chat-container">
            <div id="chat-history">
                <div class="message bot-message">Hey welcome, a quick note here. This is not an AI response. To disable this window there is a checkbox on the right to enable or disable it. By clicking a note/s the ai will explain the note/notes and suggest a chord and other features, Or try asking a question on the text field on your right. Feel free to explore. Enjoy.</div>
            </div>
        </div>
        <form id="question-form" action="{% url 'piano_ask' %}" method="post">
            {% csrf_token %}
            <div style="top:70px; right:80px; position:fixed;"><label for="text">Ask me a question</label></div>
            <div><input type="text" name="text" id="text" placeholder="Enter text here..." required autocomplete="off"></div>
            <div><button type="submit">Ask</button></div>
        </form>
    </div>
    
    <script src="{% static 'css_js/piano/piano.js' %}"></script>
</body>
</html>
