{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon/menu/menu_f.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css_js/ecopiboe_menu/ecopiboe_menu.css' %}">
    <title>Menu</title>
</head>
<body>

    <div class="main-container">
        <b class="ecopiboe">EcoPiBoe</b>
        <h1>All the operations below rely on gemini Language model/AI.</h1>

        <div class="dropdown">
            <select id="menu">
                <option value="" selected hidden>EcoPiBoe</option>
                <option value="chatbot">Chat Bot</option>
                <option value="gmolver">Gmolver Menu</option>
                <option value="eco-footprint-assessment">Eco-Footprint AI Analyser</option>
                <option value="piano">Piano AI</option>
                <option value="recommend_books">Book Recommendor</option>
                <option value="send-email">AI Smart Email</option>
                <option value="about">About</option>
            </select>
        </div>

        <div class="sub-container">
            <div class="box box-1">
                <a href="/eco-footprint-assessment/" style="text-decoration: none; color: inherit; display: block;">
                    <b style="font-size: 25px;">Personal Eco-Footprint Analyser</b>
                    <p>Hello👋👋, click this box to measure your ecological footprint. Analysed by an Artificial Intelligence. Fill a presented form in the next page.</p>
                </a> 
            </div>
            <div class="box box-2">
                <a href="/recommend_books/" style="text-decoration: none; color: inherit;">
                    <b style="font-size: 25px;">This is the book section</b>
                    <p>Are you a reader or a book lover? Click here to use the advanced book finder system, and the AI will provide a short summary of the book you choose.</p>
                </a>
            </div>
            <div class="box box-3">
                <a href="/piano/" style="text-decoration: none; color: inherit;">
                    <p style="font-size: 25px;">AI Assisted Piano</p>
                    <p>Here is a very simple yet enjoyable piano experience. Click here to learn about piano notes and chords, with AI as your instructor.</p>
                    <b></b>
                </a>
            </div>
            <div class="box box-4">
                <a href="/send-email/" style="text-decoration: none; color: inherit;">
                    <p style="font-size: 25px;">Smart Email</p>
                    <p>Email writing can be tricky. This AI assistant helps you catch spelling, grammar, and punctuation errors.</p>
                </a>
            </div>

            <div class="box box-5">
                <a href="/gmolver/" style="text-decoration: none; color: inherit;">
                    <p style="font-size: 25px;">Gmolver Assistant</p>
                    <p>Gmolver File anaylser Assistant and screen assistant.</p>
                </a>
            </div>
        </div>

        <h1>Welcome, nice to see you. What do you wanna do today? Click any of the boxes above.</h1>
        <div class="footer">
            <a href="/login/">Back</a>
        </div>
    </div>

    <script src="{% static 'css_js/ecopiboe_menu/ecopiboe_menu.js' %}"></script>

</body>
</html>
