body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.main-container {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background-color: #565957;
    border-radius: 20px;
    box-shadow: 0 0 1000px rgba(0, 90, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s;
    text-align: center;
    border: 5px solid #a4aab3;
    overflow-y: auto;
    position: relative;
}
.main-container:hover {
    box-shadow: 0 0 1000px rgba(0, 0, 90, 0.5);
    transform: scale(1.01);
    border: 5px solid #eff2eb;
}
.sub-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
.box {
    width: 22%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 250px;
    color: black;
    overflow-y: hidden;
    word-wrap: break-word;
    margin-bottom: 20px;
    background-color: #823a19;
    font-weight: bold;
    font-size: 20px;
}
.box-1 {
    background-color: #823a19;
}
.box-2 {
    background-color: #807314;
}
.box-3 {
    background-color: #308019;
}
.box-4 {
    background-color: #196f80;
}
.box:hover {
    transform: scale(1.00001);
    border: 2px solid #8a8887;
}
.box-1:hover {
    background-color: #915234;
}
.box-2:hover {
    background-color: #9e923a;
}
.box-3:hover {
    background-color: #589945;
}
.box-4:hover {
    background-color: #4694a3;
}
.box-5 {
    background-color: rgba(255, 0, 0, 0.2);
}
.box-5:hover {
    background-color: rgba(255, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .sub-container {
        flex-direction: column;
        align-items: center;
    }
    .box {
        width: 80%;
    }
    .main-container {
        height: auto;
        max-height: none;
    }
}
.footer {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}
.footer a {
    text-decoration: none;
    color: blue;
}
.ecopiboe {
    font-size: 40px;
    color: #05ed8c;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 100px rgba(0, 10, 100, 0.4);
}

.dropdown {
    position: absolute;
    left: 10px;
    top: 20px;
    z-index: 2;
}

.dropdown select {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #453b3b;
    background-color: #1e2025;
    color: #fff;
    font-size: 16px;
}

