{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon/land_page/land_page_2.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css_js/home/home.css' %}">
    <title>Home</title>
    
</head>
<body>
    <div class="main">
        <echo>EcoPiBoe</echo>
        <b><p><a href="/login/">Sign In</a></p></b>
        <b style="font-size: 20px; color:#b0a9a9">or<b/>
        <b><p><a href="/signup/">Sign Up</a></p></b>
    </div>

    <div class="year">
        <b><p><a href="/felix_about/">About Felix</a></p></b>
        <b style="font-size: larger;">©️</b>
        <b id="currentYear"></b>
    </div>
    <script src="{% static 'css_js/home/home.js' %}"></script>
</body>
</html>
