    body {
        display: flex;
        justify-content: center;
        align-items: top;
        height: 100vh;
        text-align: center;
        font-size: 20px;
        background-color: #3f4240;
        
    }
    
    .ellipsis {
        display: block;
    }
    .ellipsis::after {
        content: "Being redirected.";
        animation: ellipsis 1s infinite;
    }
    @keyframes ellipsis {
        0%, 25% {
            content: "Being redirected to Login page.";
        }
        50%, 75% {
            content: "Being redirected to Login page..";
        }
        100% {
            content: "Being redirected to Login page...";
        }
        
    }
    .content a {
        color: #007bff;
        text-decoration: underline;
    }