{% extends 'admin/base_site.html' %}

{% block title %}
    Administrator EcoPiBoE
{% endblock %}

{% block extrahead %}
    <style>
        #site-name {
            padding: 10px;
            text-align: center;
        }

        #site-name a {
            color: #edf5f7;
            font-size: 25px;
            text-decoration: none;
        }

        .user-name {
            color: #333;
            font-size: 18px;
        }
    </style>
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <b><a href="{% url 'admin:index' %}">EcoPiBoE Administrator</a></b>
    </h1>
    {% if user.is_authenticated %}
        <h1 class="user-name"><b>{{ user.first_name }} {{ user.last_name }}</b></h1>
    {% endif %}
{% endblock %}
