{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon/land_page/land_page_2.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css_js/geminiAPI/chatbot.css' %}">
    <title>Chat Bot</title>
</head>
<body>
    <div id="chat-container">
        <div id="chat-history"></div>
        <form action="{% url 'chatbot' %}" method="post" onsubmit="handleSubmit(event)">
            {% csrf_token %}
            <div id="input-container">
                <input type="text" name="text" id="text" placeholder="Type a message" required>
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
    <script src="{% static 'css_js/geminiAPI/chatbot.js' %}"></script>
</body>
</html>

