{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css_js/geminiAPI/chatbot.css' %}">
    <title>Chat Bot</title>

</head>
<body>
    <h1>Chat Bot Interactions</h1>
    <div id="chat-container">
        <div id="chat-history"></div>
    </div>
    <form action="{% url 'chatbot' %}" method="post" onsubmit="handleSubmit(event)">
        {% csrf_token %}
        <div><label for="text">Enter your question:</label></div>
        <div><input type="text" name="text" id="text" required></div>
        <div><button type="submit">Ask</button></div>
    </form>

    <script src="{% static 'css_js/geminiAPI/chatbot.js' %}"></script>
</body>
</html>
