
.mega-footer {
    background-color: #414346;
    padding: 10px 0;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
    border-radius: 15px;
}


.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 2px;
    color: #fff;
    height: 200px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row.horizontal {
    flex-direction: row;
}

.col-md-3 {
    flex: 1;
    margin: 10px;
}

.col-md-12 {
    flex: 1 100%;
    text-align: center;
}

h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #755ff5;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

.year {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: rgb(184, 156, 156);
}