{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Template</title>
    <link rel="stylesheet" type="text/css" href="{% static 'footer/footer.css' %}">
</head>
<body>

<footer class="mega-footer">
    <div class="container">
        <div class="row horizontal">
            <div class="col-md-3">
                <h4>Company</h4>
                <ul>
                    <li><a href="/">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Resources</h4>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Whitepapers</a></li>
                    <li><a href="#">Case Studies</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Support</h4>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Support Services</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Features</h4>
                <ul>
                    <li><a href="#">Feature 1</a></li>
                    <li><a href="#">Feature 2</a></li>
                    <li><a href="#">Feature 3</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="year">
        <b style="font-size: larger;">©️</b>
        <b id="currentYear"></b>
        
    </div>
</footer>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const currentYear = new Date().getFullYear();
        document.getElementById('currentYear').textContent = currentYear;
        console.log(`Current Year: ${currentYear}`);
    });
</script>

</body>
</html>
