{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon/email/eco_email.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css_js/email/send_email.css' %}">
    <title>Send Email</title>
    
</head>
<body>
    <div class="dropdown">
        <select id="menu">
            <option value="" selected hidden>Menu</option>
            <option value="menu_f">Menu</option>
            <option value="chatbot">Chat Bot</option>
            <option value="gmolver">Gmolver Menu</option>
            <option value="eco-footprint-assessment">Eco-Analyser</option>
            <option value="piano">Piano AI</option>
            <option value="recommend_books">Book Recommendor</option>
            <option value="about">About</option>
        </select>
    </div>

    <div class="container">
        <h1>EcoPiBoE</h1>
        <h2>Smart Send Email</h2>
        <div id="errorMessage" class="message"></div>
        <div id="responseMessage" class="message"></div>
        <form id="emailForm">
            {% csrf_token %}
            <label for="from">From:</label>
            <input type="email" id="from" name="from" value="{{ user_email }}" readonly>
            <label for="to">To:</label>
            <input type="email" id="to" name="to" required>
            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required autocomplete="off">
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="10" required autocomplete="off"></textarea>
            <button type="button" id="checkAI">Check with AI</button>
            <button type="submit">Send</button>
        </form>
    </div>

    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Sure You want send?</h2>
            <div id="emailPreviewContent"></div>
            <button id="sendConfirmation">Yes Send</button>
        </div>
    </div>

    <div id="aiModal" class="ai-modal">
        <div class="ai-modal-content">
            <span class="close-ai">&times;</span>
            <h2>AI Suggestions</h2>
            <div id="aiSuggestionContent"></div>
            <button id="acceptSuggestion">Accept</button>
        </div>
    </div>

    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        const csrftoken = getCookie('csrftoken');
        
        document.getElementById('emailForm').addEventListener('submit', function(event) {
            event.preventDefault();
        
            const confirmationModal = document.getElementById('confirmationModal');
            confirmationModal.style.display = 'block';
            const formData = new FormData(event.target);
            const userName = '{{ user_name }}';
            const emailContent = `TO: ${formData.get('to')}\n\nSUBJECT: ${formData.get('subject')}\n\nMESSAGE:\n${formData.get('message')}\n\nRegards,\n${userName}`;
            document.getElementById('emailPreviewContent').textContent = emailContent;
        });
        
        document.getElementById('sendConfirmation').addEventListener('click', function() {
            const confirmationModal = document.getElementById('confirmationModal');
            confirmationModal.style.display = 'none';
            const formData = new FormData(document.getElementById('emailForm'));
            formData.append('message', formData.get('message') + `\n\nRegards,\n{{ user_name }}`);
        
            fetch('/send-email/', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                const responseMessage = document.getElementById('responseMessage');
                if (data.success) {
                    responseMessage.textContent = data.message;
                    responseMessage.style.color = 'green';
                    setTimeout(() => {
                        responseMessage.textContent = '';
                    }, 10000);
                    document.getElementById('emailForm').reset();
                } else {
                    const errorMessage = document.getElementById('errorMessage');
                    if (data.auth_url) {
                        window.location.href = data.auth_url;
                    } else {
                        errorMessage.textContent = data.message || 'Failed to send email.';
                        errorMessage.style.color = 'red';
                        setTimeout(() => {
                            errorMessage.textContent = '';
                        }, 15000);
                    }
                }
            })
            .catch(error => {
                console.error('Error:', error);
                const errorMessage = document.getElementById('errorMessage');
                errorMessage.textContent = 'Error sending email.';
                errorMessage.style.color = 'red';
                setTimeout(() => {
                    errorMessage.textContent = '';
                }, 5000);
            });
        });
        
        document.getElementById('checkAI').addEventListener('click', function() {
            const formData = new FormData(document.getElementById('emailForm'));
            const emailContent = {
                subject: formData.get('subject'),
                message: formData.get('message')
            };
        
            fetch('{% url "improve_email" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(emailContent)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    document.getElementById('aiSuggestionContent').textContent = data.improved_message;
                    document.getElementById('aiModal').style.display = 'block';
                } else {
                    alert('Failed to get AI suggestions.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
        
        document.getElementById('acceptSuggestion').addEventListener('click', function() {
            const aiContent = document.getElementById('aiSuggestionContent').textContent;
            document.getElementById('message').value = aiContent;
            document.getElementById('aiModal').style.display = 'none';
        });
        
        const closeBtn = document.querySelector('#confirmationModal .close');
        const modal = document.getElementById('confirmationModal');
        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        };
        closeBtn.addEventListener('click', function() {
            modal.style.display = 'none';
        });
        
        const closeAiBtn = document.querySelector('#aiModal .close-ai');
        const aiModal = document.getElementById('aiModal');
        closeAiBtn.addEventListener('click', function() {
            aiModal.style.display = 'none';
        });
        
        document.getElementById('menu').addEventListener('change', function() {
            const urlMap = {
                'menu_f': '/menu_f/',
                'about': '/about/',
                'chatbot':'/chatbot/',
                'gmolver':'/gmolver/',
                'eco-footprint-assessment':'/eco-footprint-assessment/',
                'recommend_books':'/recommend_books/',
                'piano':'/piano/'
            };


            const selectedValue = this.value;
            if (urlMap[selectedValue]) {
                window.location.href = urlMap[selectedValue];
            }
        });
    </script>
</body>
</html>
