<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="icon" href="{% static 'favicon/email/eco_email.ico' %}" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Error Message</title>
<style>
    .error-container {
        background-color: #333;
        color: #fff;
        padding: 20px;
        border-radius: 5px;
        margin: 20px;
        max-width: 400px;
        margin: auto;
        text-align: center;
    }
</style>
</head>
<body>

<div class="error-container">
    <p>There was an error sending the email.</p>
</div>

</body>
</html>
