{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gemni AI Blog</title>
    <link rel="stylesheet" href="{% static 'css/blog/blog.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/menu_f/">Menu</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h1>EcoPiBoE</h1>
        <div class="container">
            {% for post in posts %}
                <div class="post">
                    <h2><a href="{% url 'blog_detail' slug=post.slug %}">{{ post.title }}</a></h2>


                    <p class="meta">By {{ post.author_full_name }} on {{ post.created_at }}</p>
                    <p>{{ post.content|slice:":200" }}...</p>
                </div>
            {% endfor %}
        </div>
    </main>
    
    <footer>
        
        © <b id="currentYear"></b>
       <b>EcoPiBoE. All rights reserved.</b>

   </footer>


   <script>
       document.addEventListener('DOMContentLoaded', function() {
           const currentYear = new Date().getFullYear();
           document.getElementById('currentYear').textContent = currentYear;
           console.log(`Current Year: ${currentYear}`);
       });
   </script>
</body>
</html>
