{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css_js/test_db_connection/test_db_connection.css' %}">
    <title>Database Connection Test</title>
   
</head>
<body>
    <div class="container {% if db_is_connected %}active{% endif %}">
        <h1>EcoPiBoE</h1>
        
        {% if db_is_connected %}
            <p class="active-connection">Connection to the database is active</p>
        {% else %}
            <p class="inactive-connection">Connection to the database is inactive</p>
            <p>Troubleshoot the connections to the database and try again.</p>
        {% endif %}
    
        <p><a class="admin-link" href="{% url 'admin:login' %}">Administrator Control</a></p>
    </div>
</body>
</html>
